* {
  font-family: 'Raleway', sans-serif;
}
body {
  background-image: url(woodbackground.jpeg);
}
.navbar-style {
background-image: url(woodbackground.jpeg);
}
.title {
font-family: 'Comfortaa', cursive;
color: white;
font-size: 30px;
font-weight: bold;
padding-top: 5px;
}
.searchbar-style {
width: 200px;
margin: -50;
}
.searchTitle {
  font-weight: bold;
}

.searchTitle {
    font-weight: bold;
}

.searchBtn {
  background-color: white;
  color: #5d3d23;
}
.searchBtn:hover {
background-color: #5d3d23 ;
}
.card {
background-color: #3f2917;
color: white;
margin: 5px;
}
.card-group {
margin-top: 15px;
}
.hamburger-style {
color: white;
border: solid 2px;
}
.recentList {
  color: white;
  font-size: 18px;
  background-color: #3f2917c0;
  border-radius: 25px;
}
.tttPic {
position: absolute;
z-index: -1;
margin-right:auto;
margin-left: auto;
top: 200px;
width: 100%;
max-width: 1000px;
height: auto;
opacity: 0.5;
filter: alpha(opacity=50);
}

.artistPic {
width: 100%;
height: auto;
max-width: 400px;
padding: 30px;
margin: 20px;
}

.card-title {
  font-family: 'Comfortaa', cursive;
  color: white;
  text-decoration: none;
}

.card-title:hover {
  text-decoration: none;
  color: #0f0b06;
}

.btn:hover, .btn:active, .btn:link, .btn:focus {
  text-decoration: none;
}

.recordImage {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100px;
  opacity: 0.5;
  z-index: 0;
}

.searchInstructions {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  position: relative;
  z-index: 10;
}
