* {
  font-family: "Raleway", sans-serif;
}
body {
  background-image: url(woodbackground.jpeg);
}
.navbar-style {
  background-image: url(woodbackground.jpeg);
  background-color: #000000;
}

.title {
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
}

.searchbar-style {
  width: 200px;
  margin: -50;
}

.searchTitle {
  font-weight: bold;
}

.searchTitle {
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}

.searchBtn {
  background-color: white;
  color: #5d3d23;
}
.searchBtn:hover {
  background-color: #5d3d23;
}
.card {
  background-color: #000000b7;
  color: white;
  margin: 5px;
}
.card-group {
  margin-top: 15px;
}
.hamburger-style {
  color: white;
  /* border: solid 2px; */
  background-image: url("searchIcon.svg");
}

.hamburger-style:hover,
.hamburger-style:focus,
.hamburger-style:link,
.hamburger-style:active {
  text-decoration: none;
}

.recentList {
  color: white;
  font-size: 18px;
  background-color: #000000b7;
  border-radius: 25px;
}
.tttPic {
  position: absolute;
  z-index: -1;
  margin-right: auto;
  margin-left: auto;
  top: 200px;
  width: 100%;
  max-width: 1000px;
  height: auto;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.artistPic {
  width: 100%;
  height: auto;
  max-width: 400px;
  padding: 30px;
  margin: 20px;
}

.card-title,
.artistName {
  font-family: "Comfortaa", cursive;
  color: white;
  padding-top: 5px;
}

.card-title:hover {
  text-decoration: none;
  color: #b38f63;
}

.btn:hover,
.btn:active,
.btn:link,
.btn:focus {
  text-decoration: none;
}

.modal {
  height: 100px;
  width: 100px;
}

.card-header {
  background-color: #000000;
  border-bottom: 1px solid;
  border-color: #b1301a;
}

.card-header:hover,
.card-header:active,
.card-header:focus {
  background-image: linear-gradient(to right, #000000, #1d150d, #b1301a);
  color: #b38f63;
}

.cardHeader {
  padding: 5px;
}

.searchIcon {
  width: 30px;
  height: auto;
}

.toggle-style {
  color: transparent;
}

.searchForm {
  width: 1000px;
}

.btnDiv {
  float: left;
}

.instructions {
  background-color: #000000b7;
  color: white;
  margin: 5px;
  margin-bottom: -5px;
  padding: 30px;
  height: 100px;
  width: auto;
}

.searchInstructions {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  position: relative;
  z-index: 10;
}

.recordImage {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 0;
}

.smallRecord {
  width: 30px;
  max-width: 30px;
  height: auto;
}

.sim:hover {
  color: #b1301a;
}