body {
    box-sizing: border-box;
}

.title {
    background: -webkit-linear-gradient(skyblue, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;

}

.searchbar-style {
    width: 200px;
    margin: -50;
}

.searchButton-style {
    position: relative;
    float: right;
}